section{
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.drMainInformation h2{
    text-align: center;
    color: white;
    font-size: 25px;
}

.col-dev{
    width:25%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-top: 5%;
}

.col-dev  a{
    text-decoration: none;
    color: white;
}

.row{
    width: 100%;
}

.col-shift{
    width:20%;
}

